.container {
    min-width: 996px;
    max-width: 1204px;
    padding: 0 1rem;
    margin: 0 auto;
}

.banner {
    height: auto;
    width: 100%;
}

* {
    font-family: sans-serif !important;
    text-decoration: none;
    scroll-behavior: smooth;
    font-style: normal;
}


@media (max-width: 600px) {
    .container {
        min-width: 150px; 
        max-width: 600px;
        width: 379px;
        height: 485px;
        margin: 0 auto;
    }

    .course__footer {
        margin-top: 26px;
    }

}
