.banner .banner-img {
    background-color: #000d37;
    height: 480px;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 600px) {
    .banner .banner-img {
        background-color: #858585;
        height: 400px;
    }
}

