#blog {
    background-color: #F6F6F6;
    padding-top: 169px;
}

.blog__elementoSenai--radius {
    background-color: #262626;
    border-radius: 100px;
    display: flex;
    height: 46px;
    width: 46px;
}

.blog__elementoSenai--radius>img {
    margin: auto;
    height: 24.43px;
    width: 25.56px;
}

.blog__elementoSenai {
    column-gap: 1rem;
    display: flex;
}

.blog__elementoSenai>h1 {
    color: #262626;
    line-height: 43px;
    margin: 0;
    font-family: 'Gotham';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.blog__blog--flex {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 42px;
}

.blog__blog--flex .btn {
    background-color: var(--yellow-tonalite);
    border-radius: 1rem;
    color: var(--main-color);
    display: block;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    margin: 64px auto 0;
    padding: 1rem 0;
    text-align: center;
    transition: .2s ease-in-out;
    width: 394px;
}

.blog__blog--flex .btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.blog__blog01>h2 {
    color: var(--main-color);
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    margin-top: 27px;
    text-align: center;
}

.blog__blog01>img {
    border-radius: 7px;
    margin-right: 47px;
    width: 689px; 
    height: 456px;
}

.blog__blog02 {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
}

.blog__blog02>div {
    column-gap: 1rem;
    display: flex;
    width: 400px;
}

.blog__blog02>div>img {
    border-radius: 17px;
    height: 153px;
    width: 157px;
}

.blog__display {
    display: block;
    width: calc(100% - 157px);
}

.blog__display>h3 {
    color: #001834;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.blog__display>p {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

@media (max-width: 600px) {
    #blog {
        padding-top: 64px;
    }

    .blog__elementoSenai--radius {
        height: 32px;
        width: 32px;
    }

    .blog__elementoSenai>h1 {
        font-size: 24px;
        line-height: 29px;
    }

    .blog__elementoSenai--radius>img {
        height: 18px;
    }

    .blog__blog--flex {
        flex-wrap: nowrap;
        margin-top: 19px;
    }

    .blog__blog01>img {
        height: 251px;
        object-fit: cover;
        width: 379px;
    }

    .blog__blog01>h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-top: 9px;
        text-align: left;
    }

    .blog__blog02, .blog__blog--flex .btn {
        visibility: hidden;
    }

}