.course__header .btn {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transform: rotate(90deg);
    width: 100%;
}

.course__title {
    color: #001834;
    line-height: 43px;
    font-size: 36px;
    font-weight: 700;
    height: 43px;
    width: 275px;
}
.course__carrossel {
    display: block;
    margin: 0 auto;
    max-width: -webkit-calc(1440px - (42px * 2));
    max-width: calc(1440px - (42px * 2));
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    width: 100%;
}

.course__carrossel--flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.course__carrossel__slide {
    background: #dddbdb;
    border-radius: 15px;
    margin-right: 27px;
    height: 428px;
    width: 256px;
}

.course__footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 34px;
}

.course__footer .btn {
    align-items: center;
    background: #001834;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    height: 52px;
    width: 358px;
}

.course__button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}


@media (max-width: 600px) {
    .course__title {
        font-size: 27px;
        line-height: 32px;
    }

    .course__carrossel__slide {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 341px;
        margin-right: 27px;
        width: 182px;
    }

    .course__footer .btn {
        align-items: center;
        background: #001834;
        border-radius: 10px;
        display: flex;
        height: 33px;
        justify-content: space-around;
        width: 197px;
    }

    .course__button {
        text-transform: none;
    }


}
