#suspended {
    background: linear-gradient(190deg, transparent 57%, #F6F6F6 57%);
    margin: 8.43rem auto 0;
    width: 100%;
}

.suspended__wrapper {
    background: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0px 2px 35px -7px rgba(0, 0, 0, 0.1);
    height: 996px;
    margin: 3.5rem auto 0;
    padding: 5rem 0;
    width: 1204px;
}

.suspended__title {
    color: var(--main-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
}

.suspended__title.title-1 {
    padding-top: 68px;
}

.suspended__title.title-2 {
    padding-top: 104px;
}

.suspended__nav {
    margin: 65.77px auto 0;
    width: 100%;
}

.suspended__wrapper--flex {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.suspended__options {
    align-items: stretch;
    border: 1px #0d2536 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    height: 56px;
    justify-content: center;
    margin-top: 30px;
    max-width: calc(100% - 100px);
    overflow: hidden;
    width: 710px;
}

.suspended__options--submit {
    align-items: center;
    background-color: #fff;
    color: #0d2536;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    padding: 0 1rem;
    width: auto;
}

.suspended__options--submit:hover {
    background-color: #001834;
}

.suspended__options--submit:not(:last-child) {
    border-right: 1px #0d2536 solid;
}

.submit {
    color: #001834;
    cursor: pointer;
    display: block;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
}

.submit:hover {
    color: #FFFFFF;
}

.suspended__menu {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 72px;
}

.suspended__menu .suspended__menu--link {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    width: 126px;
}

.suspended__menu .suspended__menu--link:hover .suspended__icon:after {
    border: solid 5px #fcc530;
    border-color: #fcc530 transparent transparent transparent;
    transform: rotate(320deg) scale(1.01);
}

.suspended__menu .suspended__menu--link span {
    color: var(--main-color);
    font-family: 'Gotham';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
}

.suspended__icon {
    align-items: center;
    background-color: #fff;
    border: 2px solid rgba(13, 37, 54, 0.3);
    border-radius: 999px;
    box-shadow: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    height: 90.47px;
    justify-content: center;
    margin-bottom: 18px;
    position: relative;
    transition: 0.5s linear box-shadow;
    width: 90.47px;
}

.suspended__icon:after {
    border: solid 5px var(--main-color);
    border-color: #0d2536 transparent transparent transparent;
    border-radius: 88px;
    content: "";
    display: block;
    height: 100%;
    left: -5px;
    position: absolute;
    transition: 0.5s cubic-bezier(0.79, -0.2, 0.29, 1.11) transform;
    transform: rotate(45deg);
    top: -6px;
    width: 100%;
}




@media (max-width: 600px) {
    #suspended {
        margin: 80px auto 0;
    }
    .suspended__options {
        border: none;
        border-radius: none;
        display: block;
        height: 184px;
        justify-content: center;
        margin-top: 10px;
        max-width: calc(100% - 100px);
        overflow: hidden;
        width: 311px;
    }
    .course__carrossel.container {
        height: none;
    }

    .suspended__options--submit {
        border: 2px solid black;
        border-radius: 12px;
        height: 43px;
        margin: 8px;
    }

    .submit {
        font-size: 16px;
    }

    .suspended__title.title-1 {
        padding-top: 24px;
    }

    .suspended__title {
        font-size: 24px;
        line-height: 29px;
    }

    .suspended__title.title-2 {
        padding-top: 18px;
    }

    .suspended__menu {
        align-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0 auto;
        max-width: 900px;
        padding: 0;
    }

    .suspended__menu .suspended__menu--link {
        padding: 16px 0;
    }

    .suspended__nav {
        margin: calc(42px - 5px) auto 0;
        width: 100%;
    }

    .suspended__icon{
        height: 78.01px;
        margin-bottom: 13px;
        width: 78.01px;
    }

    .suspended__menu .suspended__menu--link {
        margin-right: 62px;
        width: 89px;
    }

    .suspended__menu .suspended__menu--link span {
        text-transform: none;
    }
}


